html {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* main page */
#title {
    text-align: center;
    margin-bottom: 5px;
    font-size: 35px;
    font-family: 'Titillium Web', sans-serif;
    color: #2B4B82;
}
#call-to-action {
    text-align: center;
    margin: 20px 30px 0 30px;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    color: #2B4B82;
}

/* search section */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#search-icon {
    width: 35px;
    height: 35px;
    margin: 0;
    background-color: transparent;
}

.search-bar-input {
    position: relative;
    width: 300px;
}

.search-bar-input input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    background-color: transparent;
    padding-left: 10px;
}

/* buttons */
button {
    border-radius: 25%;
    width: 60px;
    height: 55px;
    margin: 0 10px 0 0;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: transparent;
}

button:hover {
    border-color: rgb(200, 126, 202);
}

/* main container */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

/* mapa */
#mapa {
    width: 300%;
    display: block;
    transform-origin: center center;

}

#okno_mapki {
    width: 80%;
    max-width: 800px;
    height: 60vh;
    border: 3px solid #000;
    border-radius: 10px;
    border-color: #2B4B82;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    display: flex;
    justify-content: center;
    background-color: #efefef;
}

header {
    background-color: #2B4B82;;
    border: #000 3px solid;
    border-radius: 3px;
}